.tabs {

}

.tabs-links {
  list-style: none;
}

.tabs-links__link {
  margin: 0;
  padding: 10px 15px;
  float: left;
  border: 1px solid #ddd;
}

.tabs-links::before,
.tabs-links::after {
  content: '';
  display: table;
}

.tabs-links::after {
  clear: both;
}